#----------------------------8<-----------------------------------------------------
#I spizdula this code from hallgat.deviantart.com
#Just uncomment the line you want to use. 
#
#By hallgat.deviantart.com
#
#----------------------------8<-----------------------------------------------------
background yes
imlib_cache_size 0
use_xft yes
xftfont Droid Sans :size=35
xftalpha 0.9
update_interval 1.0
#total_run_times 0
mpd_port 6600
own_window yes
own_window_type desktop #override
own_window_transparent yes
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
double_buffer yes
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders yes
border_margin 5
default_color 555
color1 fff
alignment top_right
gap_x 520
gap_y 1200
no_buffers yes
uppercase no
cpu_avg_samples 2
override_utf8_locale yes
default_bar_size 25,25

TEXT
${offset 22}${execp echo "obase=2;`date +%H`" | bc | sed 's/^/00000/'  | sed 's/.*\(.....\)/\1/' | sed 's/0/\${color} •/g'  | sed 's/1/${color1} •/g'}${voffset -20}
${execp echo "obase=2;`date +%M`" | bc | sed 's/^/000000/' | sed 's/.*\(......\)/\1/' | sed 's/0/\${color} •/g'  | sed 's/1/${color1} •/g'}${voffset -20}
${execp echo "obase=2;`date +%S`" | bc | sed 's/^/000000/' | sed 's/.*\(......\)/\1/' | sed 's/0/\${color} •/g'  | sed 's/1/${color1} •/g'}
